@charset "utf-8";
#column {
	column-count: 3;
	column-gap: 20px;
	margin-top: 30px;
	padding: 10px;
}
@media only screen and (max-width: 1200px) {
#column {
	column-count: 1;
}	
}
#aboutus {
	animation-name: ani1;
	animation-duration: 2s;
}
#ourvision {
	animation-name: ani1;
	animation-duration: 3s;
}
#ourmission {
	animation-name: ani1;
	animation-duration: 4s;
}
#corevalues {
	animation-name: ani1;
	animation-duration: 5s;
}
#aboutus:hover, #ourvision:hover, #ourmission:hover, #corevalues:hover {
	background-color:#E0F1EF;
	padding-left: 10px;
}
@media only screen and (max-width: 1200px) {
#aboutus:hover, #ourvision:hover, #ourmission:hover, #corevalues:hover {
	font-size: 1.2em;
	background-color:#E0F1EF;
	padding: 10px;
}
}

@keyframes ani1 {
  from {opacity: 0;}
  to {opacity: 1;}
}